/*
 * Custom Transition Styling
 * see: http://jquerymobile.com/test/docs/pages/page-customtransitions.html
 */
.in {
	-webkit-animation-duration: 650ms;
	-moz-animation-duration: 650ms;
}

.out {
	-webkit-animation-duration: 525ms;
	-moz-animation-duration: 525;
}

/*
 * Don't allow word wrapping
 */
.ui-header .ui-title, .ui-li-heading, .notrunc,
.ui-btn
{
	overflow: visible !important;
	white-space: normal !important;
}


@font-face 
{
	font-family: 'Over the Rainbow';
	font-style: normal;
	font-weight: 400;
	src: local('Over the Rainbow'), local('OvertheRainbow'), url(http://themes.googleusercontent.com/static/fonts/overtherainbow/v4/6gp-gkpI2kie2dHQQLM2jV7JQLNqXe_ZNPdm_g-gn8I.woff) format('woff');
}

.header_title
{
	font-family: 'Over the Rainbow', cursive;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #2489ce;
}

/* 
 * notification boxes
 */
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

/*
 * jQuery Validate 
 */
.validate-error 
{
	background: #fbe3e4;
	color: #8a1f11;
	border-color: #fbc2c4;
	border:2px solid #ddd;
	padding:0.2em;
	border-color:#fbc2c4;
}


/*
 * Panels
 */
ui-panel-dismiss { display: none !important; }

/*
 * Other useful stylings
 */
.break-word {word-wrap: break-word;}
.overflow-hidden {overflow: hidden;}
.text-right {text-align:right ! important;}
.text-left {text-align:left ! important;}
.text-center {text-align: center ! important;}
.text-center .ui-btn-text
{
	text-align: center;
	float: left;
}

.margin-less{margin: 0em ! important;}
.margin-less-right{margin-right: 0px ! important;}
.padding-less{padding: 0em ! important;}

.right {float: right;}
.left {float: left;}
.clear {clear: both;}

.quiet {font-size: .75em;}
.wisper {font-size: .5em;}
.loud {font-size: 1.25em;}
.yell {font-size: 1.5em;}

.hidden { display: none !important; }

.thumbnail
{
	width: 60px;
	height: 60px;
	border: 1px solid #000;
	margin-right: 5px;
}

@media all and (max-width: 28em)
{
	.unbreakable .ui-input-text
	{
		display: inline-block;
		width: 30%; 
		margin: 0 2% 0 0;
	}
	.unbreakable div
	{
		float: right;
		top: -5px;
	}
}


/*
 * Fixes
 */
.quiet .ui-btn-inner { padding-right: 10px;}

.ui-panel-inner .ui-submit
{
	margin: 0px;
}

.no-ui-icon-shadow .ui-icon-shadow
{
	-webkit-box-shadow: none;
	box-shadow: none;
}

/*
 * Web Symbols
 */
.text-icon
{
	font-family: 'WebSymbolsRegular', cursive;
	float: left;
	margin-left: 1em;
	margin-right: 1em;
}

.wordwrap
{
	white-space: normal;
}

/*
 * Horizontal Rules
 */
hr.space.clear, hr.space.bottom, hr.space
{
	border-width: 0px;
}

/*
 * Special Button Styling
 */
.footer_buttons a,
.panel_butons a
{
	margin: 0px !important;
}

.footer_buttons a .ui-btn-text
{
	font-size: 9px !important;
}

.footer_buttons .ui-icon,
.home_page_buttons .ui-icon,
.panel_butons .ui-icon
{
	background-size: cover;
	background-color: transparent;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.home_page_buttons .ui-icon
{
	width: 22px;
	height: 22px;
}

.ui-footer .ui-navbar a,
.ui-header .ui-navbar a,
.panel_butons .ui-navbar a
{
	border-left-color: black;
}

.ui-footer .ui-navbar ul li:first-child a,
.ui-header .ui-navbar ul li:first-child a
{
	border-left-width: 0px;
}

#logo img {max-width: 100%; max-height: 4em;}

/*.ui-header
{
	font-family: 'Racing Sans One' cursive;
	font-size: 12px;
}*/

/* media queries */

img.content-secondary
{
	max-width: 95%;
	margin-right: 15px;
	margin-left: 15px;
}

@media all and (min-width: 650px) {
	img.content-secondary
	{
		margin-left: 0px;
	}
	
	.content-secondary {
		text-align: left;
		float: left;
		width: 48%;
		background: none;
		border-top: 0;
		margin: 0;
		padding: 0;
	}
	
	.content-primary {
		width: 48%;
		float: right;
		margin: 0;
		padding: 0;
	}
	
	.content-right {
		text-align: left;
		float: right;
		width: 48%;
		background: none;
		border-top: 0;
		margin: 0;
		padding: 0;
	}
	
	.content-left {
		width: 48%;
		float: left;
		margin: 0;
		padding: 0;
	}
	
	.content-left-sidebar {
		text-align: left;
		float: left;
		width: 24%;
		background: none;
		border-top: 0;
		margin: 0;
		padding: 0;
	}
	
	.content-right-sidebar {
		width: 74%;
		float: right;
		margin: 0;
		padding: 0;
	}
}
/*
@media all and (min-width: 750px) {
  .content-secondary {
    width: 34%;
  }
  .content-primary {
    width: 56%;
    padding-right: 1%;
  }  
}

@media all and (min-width: 1200px) {
  .content-secondary {
    width: 30%;
    padding-right:6%;
    margin: 0;
  }
  .content-primary {
    width: 50%;
    margin-right: 5%;
    padding-right: 3%;
  }
}
*/

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

#panel_right
{
	border-left: 0px;
}
